<footer>
<div class="footer">
    <div class="container">
        <div class="footer-col-1">
            <h3>Conocé nuestros locales</h3>
            <p><a>Encontranos por CABA y GBA</a></p>
        </div>
        <div class="footer-col-2">
            <a href="#banner"><img src="img/LogoCafe.png"></a>
            <p>BlendedCafe</p>
        </div>
        <div class="footer-col-3">
            <h3>Link utiles</h3>
            <ul>
                <li><a href="#" target="_blank">Cupones</a></li>
                <li><a href="#" target="_blank">Politica de reembolso</a></li>
                <li><a href="#" target="_blank">Blog</a></li>
                <li><a href="#" target="_blank">Hacete miembro</a></li>
            </ul>
        </div>
        <div class="footer-col-4">
            <h3>Seguinos!</h3>
            <ul>
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Instagram</a></li>
                <li><a href="#" target="_blank">Youtube</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© Copyright 2022</p>
        </div>
    </div>
</div>
</footer>