<nav class="navbar">
    <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
    <ul>
        <li><a href="/"> Home</a></li>
        <li><a href="/Producto"> Tienda</a></li>
        <li><a href="/crearCuenta"> Cuenta</a></li>
        <li><a href="/carritoFinal"> Carrito</a></li>
        <li><a href="#"> Contacto</a></li>
    </ul>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</nav>