<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs", {title:"agregar-Productos",
  style:"agregar-Productos"}) %>

  <body>
    <main>
        <%- include ("./partials/navbar.ejs") %>
      <div class="banner">
        <form class="register">
            <div class="row">
                <div class="inputs">
                    <input type="text" id="producto" required />
                    <label class="etiqueta" for="producto">Producto</label>
                  </div>
                  <div class="inputs">
                    <input type="text" id="precio" required />
                    <label class="etiqueta" for="precio">Precio</label>
                  </div>
            </div>
        
            <div class="moliendas">
                <h4>Molienda Disponible:</h4>
                <div>
                    <input type="checkbox" name="moliendas" value="a" id="a">
                    <label for="a">Granos</label>
                </div>
                <div>
                    <input type="checkbox" name="moliendas" value="b" id="b">
                    <label for="b">Prensa Francesa</label>
                </div>
                <div>
                    <input type="checkbox" name="moliendas" value="c" id="c">
                    <label for="c">Filtrado Manual</label>
                </div>
                <div>
                    <input type="checkbox" name="moliendas" value="d" id="d">
                    <label for="d">Maquina Espresso</label>
                </div>
                <div>
                    <input type="checkbox" name="moliendas" value="e" id="e">
                    <label for="e">Aeropress</label>
                </div>
            </div>


          <div class="inputs">
            <label class="image-input" for="imagen-producto">Imagen</label>
            <input type="file" id="imagen-producto" required />
          </div>
          <div class="inputs">
            <textarea id="descripcion" rows="8" required ></textarea>
            <label class="etiqueta" for="descripcion">Descripcion </label>
          </div>
          <button type="submit">Crear</button>

        </form>
      </div>
    </main>
  </body>

  <%- include ("./partials/footer.ejs") %>
</html>

