<!DOCTYPE html>
<html lang="en">
  
  <%- include ("./partials/head.ejs", {title:"agregar-Productos",
  style:"agregar-Productos"}) %>

  <body>
    <main>
        <%- include ("./partials/navbar.ejs") %>
      <div class="banner">
        <form class="register" action="/productos/agregar-Productos" enctype="multipart/form-data" method="post">
            <h3>Agregar Producto</h3>
            <div class="row">
                <div class="inputs">
                    <input type="text" name="name" id="name" required />
                    <label class="etiqueta" for="name">Producto</label>
                  </div>
                  <div class="inputs">
                    <input type="text" name="price" id="price" required />
                    <label class="etiqueta" for="price">Precio</label>
                  </div>
            </div>
        
            <div class="moliendas">
                <h4>Molienda Disponible:</h4>
                <div class="cajita">
                    <input type="checkbox" name="moliendas" value="Granos" id="a">
                    <label for="a">Granos</label>
                </div>
                <div class="cajita">
                    <input type="checkbox" name="moliendas" value="Prensa Francesa" id="b">
                    <label for="b">Prensa Francesa</label>
                </div>
                <div class="cajita">
                    <input type="checkbox" name="moliendas" value="Filtrado Manual" id="c">
                    <label for="c">Filtrado Manual</label>
                </div>
                <div class="cajita">
                    <input type="checkbox" name="moliendas" value="Maquina Espresso" id="d">
                    <label for="d">Maquina Espresso</label>
                </div>
                <div class="cajita">
                    <input type="checkbox" name="moliendas" value="Aeropress" id="e">
                    <label for="e">Aeropress</label>
                </div>
            </div>


          <div class="inputs">
            <label class="image-input" for="image">Imagen</label>
            <input type="file" name="image" id="image" required />
          </div>

          <div class="inputs">
            <textarea name="description" id="description" rows="8" required ></textarea>
            <label class="etiqueta" for="description">Descripcion </label>
          </div>
          <button type="submit">Crear</button>

        </form>
      </div>
    </main>
  </body>

  <%- include ("./partials/footer.ejs") %>
</html>

