<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crearCuenta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Blended Cafe</title>
</head>

<body>
    <header>
        <div class="navbar">
            <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/Producto"> Tienda</a></li>
                <li><a href="/crearCuenta"> Login</a></li>
                <li><a href="#"> Carrito</a></li>
                <li><a href="#"> Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="registro">
            <form action="/views/home.html" method="post">
                <p>
                    <label for="Nombre y apellido"></label>
                    <input type="text" placeholder="Nombre y apellido" required>
                </p>
                <p>
                    <label for="Nombre de usuari@"></label>
                    <input type="text" placeholder="Nombre de usuario" required minlength="4">
                </p>
                <p>
                    <label for="Telefono"></label>
                    <input type="tel" placeholder="Telefono">
                </p>
                <p>
                    <label for="email"></label>
                    <input type="email" placeholder="E-mail" required>
                </p>
                <p>
                    <label for="Contraseña"></label>
                    <input type="password" placeholder="Contraseña" required>
                </p>
                <p>
                    <label for="Confirmar contraseña"></label>
                    <input type="password" placeholder="Confirmar contraseña" required>
                </p>
                <p>
                    <label for="Enviar"></label>
                    <input class="efecto" type="submit">
                </p>
                <p>
                    <label for="Cancelar"></label>
                    <input class="efecto" type="reset">
                </p>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="footer-col-1">
                    <h3>Conocé nuestros locales</h3>
                    <p><a>Encontranos por CABA y GBA</a></p>
                </div>
                <div class="footer-col-2">
                    <a href="#banner"><img src="img/LogoCafe.png"></a>
                    <p>BlendedCafe</p>
                </div>
                <div class="footer-col-3">
                    <h3>Link utiles</h3>
                    <ul>
                        <li><a href="#" target="_blank">Cupones</a></li>
                        <li><a href="#" target="_blank">Politica de reembolso</a></li>
                        <li><a href="#" target="_blank">Blog</a></li>
                        <li><a href="#" target="_blank">Hacete miembro</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Seguinos!</h3>
                    <ul>
                        <li><a href="#" target="_blank">Facebook</a></li>
                        <li><a href="#" target="_blank">Twitter</a></li>
                        <li><a href="#" target="_blank">Instagram</a></li>
                        <li><a href="#" target="_blank">Youtube</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>© Copyright 2022</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>