<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crearCuenta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Blended Cafe</title>
</head>

<body>
    <header>
        <h2>un header momentaneo para tener idea de como va quedando</h2>
    </header>
    <main>
        <div class="logo">
            <img src="/img/logo.jpeg" width="60px">
        </div>
        <h1>
            Blended Cafe
        </h1>
        <div class="registro">
            <form action="/views/home.html" method="post">
                <div class="campos">
                    <p>
                        <label for="Nombre y apellido"></label>
                        <input type="text" placeholder="Nombre y apellido">
                    </p>
                    <p>
                        <label for="Nombre de usuari@"></label>
                        <input type="text" placeholder="Nombre de usuari@">
                    </p>
                    <p>
                        <label for="Telefono"><b>Telefono</b></label>
                        <input type="tel" placeholder="Ej: 116540xxxx">
                    </p>
                    <p>
                        <label for="Domicilio"></label>
                        <input type="text" placeholder="Domicilio">
                    </p>
                    <p>
                        <label for="Foto de usuario"><b>Foto de usuario</b></label>
                        <input type="file">
                    </p>
                    <p>
                        <label for="Contrase単a"></label>
                        <input type="password" placeholder="Contrase単a">
                    </p>
                    <p>
                        <label for="Confirmar contrase単a"></label>
                        <input type="password" placeholder="Confirmar contrase単a">
                    </p>
                </div>
                <div class="botones">
                    <p>
                        <label for="Enviar"></label>
                        <input type="submit">
                    </p>
                    <p>
                        <label for="Cancelar"></label>
                        <input type="reset">
                    </p>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <h2>el footer para ver como va quedando el espacio</h2>
    </footer>
</body>

</html>