<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Blended Cafe</title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
            <ul>
                <li><a href="/home"> Home</a></li>
                <li><a href="/Producto"> Tienda</a></li>
                <li><a href="/crearCuenta"> Login</a></li>
                <li><a href="#"> Carrito</a></li>
                <li><a href="#"> Contacto</a></li>
            </ul>
        </div>

        <div class="contenido">
            <h1> Cafe al alcance de tu mano</h1>
            <p>Desde Blended Cafe sentimos que el cafe va mas allá, un recorrido, una experiencia, desde 1994 unimos diferentes
                <br>partes del mundo con tus sentimientos desde tostado y amargo hasta dulce y frutal.<br> Ayudando al cliente a redescrubir un mundo sin fronteras</p>
            <div>
                <button type="button" onclick="location.href='#'"><span></span>CONTACTO</button>
                <button type="button" onclick="location.href='/crearCuenta'"><span></span>SUSCRIBITE</button>
            </div>
        </div>

    </div>

    <div class="pantalla2">

    </div>





    <main>
       
    </main>



    <h1><a href=/crearCuenta>click aca y vamos a crearCuenta</a></h1>
    <h1><a href=/Producto>click aca y vamos a Producto</a></h1>
    <h1><a href=/login>click aca y vamos a Login</a></h1>
    <h1><a href=/miCarrito>click aca y vamos a miCarrito</a></h1>
    <h1><a href=/carritoFinal>click aca y vamos a carritoFinal</a></h1>


</body>




</html>