<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quicksand&display=swap"
        rel="stylesheet">
    <title>Blended Cafe</title>
</head>

<body>
    <!----------------------Empieza seccion 3------------------------------>
    <section class="section-three">
        <article class="card-info">
            <h2>Origenes</h2>
            <img class="card-img" src="img/img-coffee-card.jpg" alt="imagen de granos">
            <div class="img-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eum numquam nostrum, quidem delectus
                    dignissimos fugit harum esse natus laudantium dicta sed quas deserunt ad consectetur, soluta dolorem
                    praesentium recusandae.</p>
                <a href="/views/home2.html">Ver más</a>
            </div>
        </article>
        <article class="card-info">
            <h2>Maquinas</h2>
            <img class="card-img" src="img/img-machine-card.jpg" alt="imagen de cafetera">
            <div class="img-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ducimus illum quam consectetur.
                    Quibusdam
                    consectetur amet, neque pariatur debitis hic libero excepturi nulla quod voluptates. Deserunt id
                    ducimus
                    tempora provident.</p>
                <a href="/views/home2.html">Ver más</a>
            </div>
        </article>
        <article class="card-info">
            <h2>Historia</h2>
            <img class="card-img" src="img/img-history-card.jpg" alt="imagen de cafe">
            <div class="img-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ducimus illum quam consectetur.
                    Quibusdam
                    consectetur amet, neque pariatur debitis hic libero excepturi nulla quod voluptates. Deserunt id
                    ducimus
                    tempora provident.</p>
                <a href="/views/home2.html">Ver más</a>
            </div>
        </article>
    </section>

</body>
<footer>

</footer>

</html>