<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"homeStyle", style:"homeStyle"}) %>

<body>
    <section class="banner" id="banner">
        <%- include ("./partials/navbar.ejs") %>

        <div class="contenido">
            <h1> Cafe al alcance de tu mano</h1>
            <p>Desde Blended Cafe sentimos que el cafe va mas allá, un recorrido, una experiencia, desde 1994 unimos
                diferentes partes del mundo con tus sentimientos desde tostado y amargo hasta dulce y frutal.<br>
                Ayudando al cliente a redescrubir un mundo sin fronteras</p>
            <div>
                <button type="button" onclick="location.href='#'" class="botones1"><span
                        class="span1"></span>CONTACTO</button>
                <button type="button" onclick="location.href='/crearCuenta'" class="botones1"><span
                        class="span1"></span>SUSCRIBITE</button>
            </div>
        </div>
    </section>

    <section id="destacados">
        <div class="titulo-destacados">
            <p>DESTACADOS</p>
            <h1>Los mas Buscados</h1>
        </div>
        <div class="box-destacados">
            <div class="cafes-favoritos">
                <h2>Morro Aromatico</h2>
                <div class="favoritos-cont">
                    <div class="bandera">
                        <img src="img/brasil.png">
                    </div>
                    <div class="favoritos-texto">
                        <p>Proveniente de Brasil este grano se caracteriza por su robustes y aroma intenso</p>
                    </div>
                </div>
                <h2>Manizales Frutal</h2>
                <div class="favoritos-cont">
                    <div class="bandera">
                        <img src="img/colombia.png">
                    </div>
                    <div class="favoritos-texto">
                        <p>Originario de Colombia y gracias a su clima tropical, esta region produce un grano suave con
                            un sabor frutal</p>
                    </div>
                </div>
                <h2>Coclé Amargo</h2>
                <div class="favoritos-cont">
                    <div class="bandera">
                        <img src="img/panama.png">
                    </div>
                    <div class="favoritos-texto">
                        <p>Directo de Panama se cultiva este grano amargo el cual mantiene un sabor matizado entre
                            frutos secos y madera</p>
                    </div>
                </div>
                <div class="contenedor">
                    <button class="btn-1" type="button" onclick="location.href='#'">Ver Mas</button>
                </div>
            </div>
            <div class="slide-cafe">
                <img src="img/slide-1.jpg">
            </div>
        </div>
    </section>
    <!----------------------Empieza seccion 3------------------------------>
    <section class="section-three">
        <article class="card-info">
            <img class="card-img" src="img/coffee-beans.png" alt="Grano de café">
            <h2>Origenes</h2>
            <div class="img-description">
                <p>Desde Sao Paulo en Brasil, hasta el Valle del Cauca en Colombia.
                    En BlendedCafe tenemos tenemos el mejor café, extraido de las mejores partes del mundo, dando
                    calidad y sabores únicos.</p>
            </div>
            <a href="/views/home2.html">Ver más</a>
        </article>
        <article class="card-info">
            <img class="card-img" src="img/coffee-machine.png" alt="imagen de cafetera">
            <h2>Maquinas</h2>
            <div class="img-description">
                <p>La formula de un buen café es sencilla, buen origen y buena preparación.
                    Por eso te ofrecemos las mejores maquinas de café disponibles en el mercado actual.
                </p>
            </div>
            <a href="/views/home2.html">Ver más</a>
        </article>
        <article class="card-info">
            <img class="card-img" src="img/coffee-plant.png" alt="imagen de planta de cafe">
            <h2>Historia</h2>
            <div class="img-description">
                <p>Porqué ademas del café, es importante que sepas de donde venimos nosotros y nuestras ideas.
                    Te contamos un poquito de la razón por la cual el café nos inspira a compartir sus secretos.
                </p>
            </div>
            <a href="/views/home2.html">Ver más</a>
        </article>
    </section>
    </main>
    <!-----------Footer------------ -->
    <%- include ("./partials/footer.ejs") %>
    
</body>
</html>