<!DOCTYPE html>
<html>

    <%- include ("./partials/head.ejs", {title:"login",
    style:"login"}) %>

<body>
    <main>
        <%- include ("./partials/navbar.ejs")%>
        <div class="registro">
            <form action="/" method="POST">
                <div>
                    <label for="E-mail"></label>
                    <input type="email" placeholder="E-mail">
                </div>
                <div>
                    <label for="Contraseña"></label>
                    <input type="password" placeholder="Contraseña">
                </div>
                <div class="botones">
                    <a href="/"><button type="submit">Iniciar sesión</button></a>
                </div>
                <p class="link-registro">
                    No tienes cuenta? Registrate
                    <a href="/crearCuenta">aqui</a>
                </p>
            </form>
        </div>
    </main>
    <%- include ("./partials/footer.ejs", {title:"general", style:"general"}) %>
</body>
</html>