<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <title>Blended Cafe</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/Producto"> Tienda</a></li>
                    <li><a href="/crearCuenta"> Login</a></li>
                    <li><a href="#"> Carrito</a></li>
                    <li><a href="#"> Contacto</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="logo">
                <img src="img/LogoCafe.png" width="60px">
            </div>
            <h1>
                Blended Cafe
            </h1>
            <div class="registro">
                <form action="/views/home.html" method="post">
                    <div class="campos">
                        <p>
                            <label for="E-mail"></label>
                            <input type="email" placeholder="E-mail">
                        </p>
                        <p>
                            <label for="Contraseña"></label>
                            <input type="password" placeholder="Contraseña">
                        </p>
                    </div>
                    <div class="botones">
                        <a href="/home.html"><button type="submit">Iniciar sesión</button></a>
                    </div>
                    <p class="link-registro">
                        No tienes cuenta? Registrate
                        <a href="/crearCuenta.html">aqui</a>
                    </p>
                </form>
            </div>
        </main>
        <footer>
            <h2>el footer para ver como va quedando el espacio</h2>
        </footer>
    </body>
</html>