<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/miCarrito.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <title>Blended Cafe</title>
    </head>

    <body>
        <header>
            <h2>un header momentaneo para tener idea de como va quedando</h2>
        </header>
        <main>
            <h2>Mi carrito</h2>
            <div class="productos">
                <div class="partes">
                    <div class="descripcion">Producto</div>
                    <div class="precio">Precio</div>
                </div>
                <div class="descripcion">
                    <img src="/img/bolsa.jpg">
                    <span>Cafe xxxxxx/xxx gr/xxxxx</span>
                </div>
                <div class="precio">
                    <i class="fas fa-dollar-sign"></i>
                    <span>xxxx,xx</span>
                </div>
                <i class="fas fa-trash-alt"></i>
            </div>
            <div class="total">
                <h5> Total </h5>
                <i class="fas fa-dollar-sign"></i>
                <span>xxxx,xx</span>
                <button>Comprar</button>
            </div>
        </main>
        <footer>
            <h2>el footer para ver como va quedando el espacio</h2>
        </footer>
    </body>
</html>