<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/miCarrito.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <title>Blended Cafe</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/Producto"> Tienda</a></li>
                    <li><a href="/crearCuenta"> Login</a></li>
                    <li><a href="#"> Carrito</a></li>
                    <li><a href="#"> Contacto</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="desplegable">
                <h2>Mi carrito</h2>
                <div class="productos">
                    <div class="descripcion">
                        Producto
                        <div>
                            <img src="/img/bolsa.png">
                            <span>Cafe xxxxxx/xxx gr/xxxxx</span>
                        </div>
                    </div>
                    <div class="precio">
                        Precio
                        <div>
                            <i class="fas fa-dollar-sign"></i>
                            <span>xxxx,xx</span>
                            <i id="tacho" class="fas fa-trash-alt"></i>
                        </div>
                    </div>                
                </div>
                <div class="total">
                    <h5> Total </h5>
                    <i class="fas fa-dollar-sign"></i>
                    <span>xxxx,xx</span>
                    <button>Comprar</button>
                </div>
            </div>
        </main>
        <footer>
            <h2>el footer para ver como va quedando el espacio</h2>
        </footer>
    </body>
</html>