<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Blended Cafe</title>
</head>

<body>
    <header>
        <h4>un header momentaneo para tener idea de como va quedando</h4>
    </header>
    <main>
        <div class="seccion">
            <div class="seccion1">
                <h1>Producto</h1>
                <img src="/img/bolsa.png">
            </div>
            <div class="seccion2">
                <span class="descripcion">
                    <h2>Cafe xxxxxx</h2>
                </span>
                <span class="precio">
                    <h3>$ xxx</h3>
                </span>
                <span class="MedioDePago">
                    <h3>Medios de Pago</h3>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>
                </span>
                <select name="peso" id="peso">
                    <option disabled selected>Selecciona un Peso</option>
                    <option value="250gr">250gr</option>
                    <option value="500gr">500gr</option>
                    <option value="1kg">1 Kilo</option>
                </select>
                <select name="molienda" id="molienda">
                    <option disabled selected>Selecciona una Molienda</option>
                    <option value="granos">granos</option>
                    <option value="capsula">capsula</option>
                    <option value="filtro">filtro</option>
                    <option value="xxxxx">xxxx</option>
                    <option value="xxxxxxxx">xxxxx</option>
                </select>
                <label>Cantidad</label>
                <input class="numero" type="number" placeholder="0">
                <input class="boton" type="button" value="agregar al carrito">
                <h2>Descripcion del Producto</h2>
                <p> asdasdasda sdasdasdasda sdasdasdasd asd asd asdad asd asdasdas asdasdas dasdasdasda sdasdas
                    dasdasdas
                    dasda sdasd asd asd asdasdasdasdasd asdasdasdasdasd</p>
            </div>
        </div>
    </main>
    <footer>
        <h4>el footer para ver como va quedando el espacio</h4>
    </footer>
</body>

</html>