body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Fondo-2.jpg");
}

h1 a {
    color: #ffffff;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), #de984d), url("../img/Fondo-Productos.jpg");
    background-size: cover;
    background-position: center;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.inputs {
    margin-bottom: 30px;
    position: relative;
}

form h3 {
    color: white;
    display: flex;
    padding-bottom: 30px;
    font-size: 30px;
    justify-content: center;
    text-decoration: underline;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

.etiqueta {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
    font-size: 18px;
}

.image-input {
    position: relative;
    color: #fff;
    cursor: text;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

button {
    font-size: 20px;
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~.etiqueta,
input:valid~.etiqueta,
textarea:focus~.etiqueta,
textarea:valid~.etiqueta {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .inputs {
    flex-basis: 48%;
    margin-bottom: 14px;
}


.moliendas {
    color: #fff;
    font-size: 18px;
    padding: 20px;
}

/*Errores */

.error-msg {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    padding-left: 15%;
}

.nameEr {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.priceEr {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.imageEr {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.intensityEr {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.descriptionEr {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

form p i {
    font-size: 1em;
}

@media (max-width: 400px) {
    .banner {
        height: 110vh;
    }
}