* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

            /* HEADER */
.navbar{
    width: 100%;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("../img/Fondo-1.jpg");
    background-size: cover;
    background-position: center;
}
.logotipo{
    display: flex;
    align-items: center;
    color: white;
}
.logo{
    width: 100px;
    cursor: pointer;
    padding-right: 8px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #de984d;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
            /* CARRITO */
main{
    height: 50rem;
    color: white;    
    /* background-color: peru; */
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url("../img/testeo.jpg");
    /* background-image: url(/img/testeo.jpg); */
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}
main h2{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}
            /* PRODUCTO */
.productos{
    display: flex;
    flex-wrap: wrap;
}
.productos i{
    color: white;
    margin-right: 5px;
}
.productos img{
    width: 70px;
    height: 70px;
}
.descripcion{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.descripcion div {
    display: flex;
    align-items: center;
    height: 90%;
}
.precio1{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.precio1 div {
    height: 90%;
    display: flex;
    align-items: center;
}
.cantidad{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.cantidad select {
    margin: 17% 0;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #fcce76;
    border-radius: 5px;
}
.precio2{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.precio2 div {    
    height: 90%;
    display: flex;
    align-items: center;
}
#tacho{
    margin-left: 15%;
}
            /* TOTAL */
.total{
    width: 20%;
    align-self: flex-end;
    position: relative;
    top: 35%;
}
h5{
    font-size: 1.3em;
    margin-bottom: 0.1px;
}
.total i{
    margin-right: auto;
}
button{    
    color: white;
    /* text-shadow: 0.8px 0.5px black; */
    background-color: #fcce76;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: 0.5px;
    border-radius: 5px;
    box-shadow: black 0px 1px 3px 0px;
}
button:hover{    
    background-color: #ffc14d;
}


/* -----------------Footer--------------- */

.footer {
    color: #8a8a8a;
    font-size: 16px;
    padding: 0;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #c76700;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 0;
}

.footer-col-1 {
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-col-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-col-3, .footer-col-4 {
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

.container {
    background: #33150a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.footer-col-2 img {
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* -----------------Footer--------------- */


/* ------------MediaQueries------------------- */
@media (max-width: 1440px){
    .container{
        display: grid;
        grid-template-columns: repeat(min-content, 10rem);
        gap: 3rem;
    }
    .footer-col-3, .footer-col-4{
        padding: 0;
    }
}

/* ------------MediaQueries------------------- */