

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Fondo-2.jpg");
}



/* CARRITO */
main {
    height: 50rem;
    color: white;
    /* background-color: peru; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("../img/testeo.jpg");
    /* background-image: url(/img/testeo.jpg); */
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}

main h2 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

/* PRODUCTO */
.productos {
    display: flex;
    flex-wrap: wrap;
}

.productos i {
    color: white;
    margin-right: 5px;
}

.productos img {
    width: 70px;
    height: 70px;
}

.descripcion {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.descripcion div {
    display: flex;
    align-items: center;
    height: 90%;
}

.precio1 {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.precio1 div {
    height: 90%;
    display: flex;
    align-items: center;
}

.cantidad {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.cantidad select {
    margin: 17% 0;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #fcce76;
    border-radius: 5px;
}

.precio2 {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.precio2 div {
    height: 90%;
    display: flex;
    align-items: center;
}

#tacho {
    margin-left: 15%;
}

/* TOTAL */
.total {
    width: 20%;
    align-self: flex-end;
    position: relative;
    top: 35%;
}

h5 {
    font-size: 1.3em;
    margin-bottom: 0.1px;
}

.total i {
    margin-right: auto;
}

button {
    color: white;
    background-color: #fcce76;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: 0.05em;
    border-radius: 5px;
    box-shadow: black 0px 1px 3px 0px;
}

button:hover {
    background-color: #ffc14d;
}


/* -----------------Footer--------------- */

.footer {
    color: #8a8a8a;
    font-size: 16px;
    padding: 0;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #c76700;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 0;
}

.footer-col-1 {
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-col-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-col-3,
.footer-col-4 {
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

.container {
    background: #33150a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.footer-col-2 img {
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* -----------------Footer--------------- */


/* ------------MediaQueries------------------- */
<<<<<<< HEAD
@media (max-width: 1440px) {
    .container {
=======
            /* MOBILE */
@media (min-width:320px) and (max-width:599px){
    .navbar ul{
        text-align: center;
    }
    .productos{
        justify-content: space-evenly;
    }
    .productos div{
        font-size: 0.8em;
    }
    .productos img{
        width: 40px;
        height: 40px;
    }
    .descripcion{
        width: 30%;
    }
    .cantidad select{
        width: 70%;
        margin: 30% 0;
    }
}
            /* TABLET */
@media (min-width:600px) and (max-width:990px){
    .navbar ul{
        text-align: center;
    }
}
/* ----footer---- */
@media (max-width: 1440px){
    .container{
>>>>>>> 4d3da4048fee7e3e7548e10264b8642e2e7352bc
        display: grid;
        grid-template-columns: repeat(min-content, 10rem);
        gap: 3rem;
    }

    .footer-col-3,
    .footer-col-4 {
        padding: 0;
    }
}

/* ------------MediaQueries------------------- */