body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Fondo-2.jpg");
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #c58642), url("../img/fondo-carrito.jpg");
    background-size: cover;
    background-position: center;
    height: 130vh;
}


.productos {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.productos h2 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 1em 0;
    font-size: 1.7em;
}

.productos i {
    color: white;
    margin-right: 5px;
}

.productos img {
    width: 70px;
    height: 70px;
}

.productos div {
    font-size: 1.12em;
}

.descripcion {
    width: 41%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.descripcion div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
}

.precio1 {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.precio1 div {
    height: 90%;
    display: flex;
    align-items: center;
}

.cantidad {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.cantidad select {
    margin: 17% 0;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #ae6922;
    border-radius: 5px;
    border: 1px solid #fff;
}

.precio2 {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.precio2 div {
    height: 90%;
    display: flex;
    align-items: center;
}

#tacho {
    margin-left: 15%;
}

.total {
    width: 20%;
    position: relative;
    top: 38%;
    left: 80%;
    color: white;
    ;
}

h5 {
    font-size: 1.3em;
    margin-bottom: 0.1px;
}

.total i {
    margin-right: auto;
}

.total span {
    font-size: 1.2em;
}

.total button {
    color: white;
    background-color: #bf771b;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: 0.05em;
    border-radius: 5px;
    box-shadow: black 0px 1px 3px 0px;
}

.total button:hover {
    background-color: #ffc14d;
}

@media (min-width:320px) and (max-width:599px) {
    .navbar ul {
        text-align: center;
    }

    .productos {
        justify-content: space-evenly;
    }

    .productos div {
        font-size: 0.8em;
    }

    .productos img {
        width: 40px;
        height: 40px;
    }

    .descripcion {
        width: 30%;
    }

    .cantidad select {
        width: 70%;
        margin: 30% 0;
    }
}

@media (min-width:600px) and (max-width:990px) {
    .navbar ul {
        text-align: center;
    }
}