body {
    background-image: linear-gradient(rgb(0 0 0 / 43%), #c5864254), url(../img/maquina.jpg);
    background-size: cover;
    background-position: center;
}


main {

    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.logotipo {
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    width: 100px;
    cursor: pointer;
    padding-right: 8px;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

.registro {
    display: flex;
    margin: 5% auto;
    width: 30%;
    height: 80%;
    background-color: #eaac6ade;
    padding: 20px;
    border-radius: 10%;
    box-shadow: inset black -1px 1px 20px 4px;
    justify-content: center;
}

form {
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form p input {
    height: 38px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.image {
    background-color: white;
    padding: 5px 10px;
}

.image1 {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(99, 54, 22), 0 0 1em rgb(99, 54, 22);
}

.fotoUser {
    text-align: center;
    font-size: 2rem;
}

input {
    display: flex;
    align-items: stretch;
    width: 75%;
    justify-content: center;
    border-radius: 5px;
    box-shadow: black 0px 1px 1px 0px;
}

.efecto:hover {
    background-color: rgb(161, 90, 20);
    color: white;
}

.efecto {
    color: white;
    background-color: peru;
    height: 38px;
    font-size: 20px;
}

.error-msg {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    padding-left: 15%;
}

.name-error {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.email-error {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.image-error {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.password-error {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

form p i {
    font-size: 1em;
}

@media (min-width:320px) and (max-width:599px) {

    .registro {
        width: 85%;
        height: 90%;
    }

    form {
        height: 95%;
    }

    main {
        height: 150vh;
    }
}


@media (min-width:600px) and (max-width:990px) {


    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar ul li {
        padding: 20px;
    }

    .registro {
        width: 70%;
        height: 85%;
    }

    form {
        height: 95%;
    }

    main {
        height: 110vh;
    }
}


@media (min-width:991px) and (max-width:1296px) {

    .registro {
        width: 60%;
        height: 100%;
    }

    form p input {
        height: 38px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    main {
        height: 120vh;
    }
}


@media (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: repeat(min-content, 10rem);
        gap: 3rem;
    }

    .footer-col-3,
    .footer-col-4 {
        padding: 0;
    }
}