

body{
    background-image: linear-gradient(#00000078, #de984d00),url(../img/detalleCafe.jpg);
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.seccion {
    background-color: #2f2821cf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 4rem;
    border-radius: 4rem;
    width: 80%;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 2rem 10rem 2rem;
    width: 35%;
}

h1 {
    color: white;
    font-size: 60px;
    padding: 8rem 4rem;
}

img {
    width: 100%;
    height: 100%;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    margin: 1rem 0rem;
}

.seccion2 select {
    margin: 1rem;
    font-size: x-large;
}

.seccion2 .numero {
    margin: 1rem;
    font-size: x-large;
}

.seccion2 .boton {
    margin: 1rem;
    font-size: x-large;
}

.seccion2 .boton:hover {
    background-color: black;
    color: white;
}

.seccion2 .boton:focus {
    background-color: navy;
    color: yellowgreen;
}

label {
    color: white;
    font-size: x-large;
    text-align: center;
}

h2 {
    color: white;
}

p {
    color: white;
}

.descripcion {
    font-size: 30px;
    color: white;
}

.precio {
    font-size: 30px;
    color: white;
}

.MedioDePago {
    font-size: 30px;
    color: white;
    text-align: center;
}

.MedioDePago i {
    background-color: white;
    color: royalblue;
    font-size: 40px;
    margin: 0px 12px;
    height: 37px;
}

/* MOVIL */
@media (min-width:320px) and (max-width:599px) {

    /* HEADER */
    /* .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar ul li {
        padding: 20px;
    } */

    /* MAIN */
    .seccion {
        display: flex;
        flex-direction: column;
    }

    img:hover {
        transform: none;
    }

    img {
        width: 200%;
    }

    h1 {
        font-size: 3rem;
        padding: 2rem 0rem;
    }

    .seccion1 {
        overflow: inherit;
        display: flex;
        align-items: center;
        height: 16rem;
    }

    .seccion2 {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}

/* TABLET */
@media (min-width:600px) and (max-width:989px) {

    /* HEADER */
    /* .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar ul li {
        padding: 20px;
    } */

    /* MAIN */
    .seccion {
        display: flex;
        flex-direction: column;
    }

    img:hover {
        transform: none;
    }

    img {
        width: 200%;
    }

    h1 {
        font-size: 3rem;
        padding: 2rem 0rem;
    }

    .seccion1 {
        overflow: inherit;
        display: flex;
        align-items: center;
        height: 16rem;
    }

    .seccion2 {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}



/* ----------------Footer--------------------------- */

.footer {
    color: #8a8a8a;
    font-size: 16px;
    padding: 0;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #c76700;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 0;
}

.footer-col-1 {
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-col-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-col-3,
.footer-col-4 {
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

.container {
    background: #33150a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.footer-col-2 img {
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ----------------Footer--------------------------- */

/* -------------------------MediaQueries--------------------------------- */
@media (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: repeat(min-content, 10rem);
        gap: 3rem;
    }

    .footer-col-3,
    .footer-col-4 {
        padding: 0;
    }
}

/* -------------------------MediaQueries--------------------------------- */