* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/* NAVBAR */

.navbar {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo {
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    width: 100px;
    cursor: pointer;
    padding-right: 8px;
}

.burger-menu{
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

div.burger-menu i {
    background-color: #9f5e28;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

@media (max-width: 680px) {
    /* nav ul {
        display: none;
        text-align: right;
    } */

    .contenido {
        width: 100%;
    }

    .contenido h1 {
        font-size: 45px;
        margin-top: 80px;
        padding: 50px;
    }

    .contenido p {
        margin: 20px;
        font-size: 15px;
    }

    .slide-cafe {
        display: none;
    }

    .cafes-favoritos {
        flex-basis: 100%;
    }

    /* NAVBAR  PRUEBA DESPLEGABLE*/

    .sidebar{
        width: 0px;
        height: 100vh;
        background-color: #a1580a;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;
        transition: width .5s ease;
    }

    .open{
        width: 100px;
    }

    .sidebar-item {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 1em;
        margin-top: 0.8em;
        margin-right: 0.8em;
        font-size: 20px;
    }

    .sidebar-item:hover{
        background-color: rgb(134, 126, 126);
    }

    #cerrar-sidebar{
        font-size: 25px;
        cursor: pointer
    }
}


@media (min-width: 681px) {
    .burger-menu {
        display: none;
    }

    #cerrar-sidebar{
        display: none;
    }

    .navbar ul li {
        margin: 0 5px;
    }

    .navbar ul {
        width: 100%;
        text-align: right;
    }

    .navbar ul li,
    .cerradoSesion {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }

    .navbar ul li a {
        font-size: 17px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .navbar ul li::after,
    .cerradoSesion::after {
        content: '';
        height: 3px;
        width: 0;
        background-color: #de984d;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after,
    .cerradoSesion:hover::after {
        width: 100%;
    }


    .cerradoSesion {
        font-size: 17px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        background: transparent;
        border: none;
        filter: opacity(1);
    }
}

@media (max-width: 830px) {
    .navbar form {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 14%;
    }

    .cerradoSesion {
        padding-top: 10px
    }
}

@media (min-width: 850px) {
    .navbar ul {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .navbar ul li {
        margin: 0 20px;
    }
}

/*------------- Validaciones Front --------------*/

.lista ul{
    display: block;
}

.listaError li{
    color: #FFF;
    font-size: large;
    font-weight: bold;
    padding-left: 15%;
}

/*------------- Validaciones Front --------------*/


/* ---------------Footer---------------- */
.footer {
    color: #8a8a8a;
    font-size: 16px;
    padding: 0;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #c76700;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 0;
}

.footer-col-1 {
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-col-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-col-3,
.footer-col-4 {
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

.container {
    background: #33150a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.footer-col-2 img {
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: repeat(min-content, 10rem);
        gap: 3rem;
    }

    .footer-col-3,
    .footer-col-4 {
        padding: 0;
    }
}

/* ---------------Footer---------------- */