*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html{
    height: 100%;
}

body{
    background-color: #6f4838;
    height: 100%;
}

.section-three{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    height: 100%;
}

.card-info h2{
    margin: 1rem;
}

.card-info p{
    padding: 1rem;
}

img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.card-info{
    width: 25rem;
    background-color:#fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    height: 40rem;
    transition: box-shadow 0.3s, width 0.3s, height 0.3s;
}

.card-info:hover{
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.3);
    width: 25.5rem;
    height: 40.5rem;
}

.img-description a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #3c1505;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
