
body{
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
}


            /* MAIN */
main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), #c58642c3),url("../img/fondo-login.jpg");
    background-size: cover;
    background-position: bottom; 
}
/* 
h1{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center; 
    margin: 1px auto;
    padding: 0.5em;
} */
.registro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    flex-direction: column;
    /* background-color: #fff0b6ba;
    border-radius: 10%;
    box-shadow: inset black -1px 1px 20px 4px; */

}
form{
    height: 70%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eaac6ade;
    border-radius: 10%;
    box-shadow: inset black -1px 2px 20px 4px;
}
form .complete input{
    height: 2.3rem;
    display: flex;
    align-items: stretch;
    width: 75%;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: black 0px 1px 1px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    /* background-color: #f4e0ca; */
}
form .rememberUser{
    display: flex;
    margin-top: 5%;
}
form .rememberUser input{
    height: 1.7rem;
    width: 5%;
    margin-left: 60px;
}
form .rememberUser label{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.botones button{
    color: white;
    background-color: peru;
    height: 2.2rem;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: black 0px 1px 1px 0px;
    font-size: 1.3rem;
}
.botones a{
    text-decoration: none;
}
.botones button:hover{
    background-color: rgb(161, 90, 20);
}
.link-registro{
    font-size: 1.1rem;
    text-align: center;
    padding: 0 1rem;
}

/*Errores */

.error-msg{
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    padding-left: 15%;
}
.email-error{
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.password-error{
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}
form p i {
    font-size: 1em;
}
/* -----------Media Queries---------- */
@media (min-width:320px) and (max-width:600px) {
    .navbar ul{
        text-align: center;
    }
    form{
        width: 70%;
        height: 60%;
    }
    form input{
        height: 2.3rem;
        font-size: 0.8rem;
    }
    .botones button{
        height: 2.3rem;
        font-size: 1.1rem;
    }
    .link-registro{
        font-size: 1.1rem;
    }
}

@media (min-width:601px) and (max-width:990px){
    .navbar ul{
        text-align: center;
    }
    form{
        width: 50%;
        height: 70%;
    }
    form input{
        height: 2.6rem;
        font-size: 1rem;
    }
    .botones button{
        height: 2.6rem;
    }
    .link-registro{
        font-size: 1.2rem;
    }
}