


body{
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
}


            /* MAIN */
main{
    background-image: url("/img/granos4.jpeg");
    position: relative;
    height: 50rem;
}

/* .logo{
    left: 0%;
    color: white;
    margin: 0% 50% 0% 50%;
    padding: 10px;
    position: absolute;
    animation-name: deslizar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate reverse;
}
@keyframes deslizar {
    0%{
        left: 0%;
        font-size: 30px;
    }
    50%{
       font-size: 50px;
    }
    100%{
        left:  80%;
       font-size: 10px;
    }
} */

h1{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center; 
    margin: 1px auto;
    padding: 0.5em;
}
.registro{
    height: 50%;
    margin: auto;
    width: 30%;
    background-color: #fff0b6ba;
    padding: 20px;
    border-radius: 10%;
    box-shadow: black 0px 0px 9px 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form input{
    height: 2.3em;
    display: flex;
    align-items: stretch;
    width: 75%;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: black 0px 1px 1px 0px;
    font-size: 1em;
}
.botones button{
    color: white;
    background-color: peru;
    height: 2.3em;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: black 0px 1px 1px 0px;
    font-size: 1em;
}
.botones a{
    text-decoration: none;
}
.botones button:hover{
    background-color: #ffc14d;
}
.link-registro{
    font-size: 1em;
    text-align: center;
}
/* -----------Media Queries---------- */
@media (min-width:320px) and (max-width:599px) {
    .navbar ul{
        text-align: center;
    }
    .registro{
        height: 50%;
        width: 80%;
    }
}

@media (min-width:600px) and (max-width:990px){
    .navbar ul{
        text-align: center;
    }
    .registro{
        height: 50%;
        width: 50%;
    }
}