
body{
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
}
main{
    background-image: linear-gradient(rgba(0,0,0,0.7), #c58642),url("../img/menu-coffee.jpg");
    background-size: contain;
    background-position: top; 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
}
.menu{
    width: 100%;
    height: 100%;
}
h1{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center; 
    margin: 1px auto;
    padding: 0.5em;
    text-decoration: underline;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
  
article{
    width: 20em;
    height: 27em;
    border: 1px solid black;
    background-color: #eaac6ade;
    color: white;
    border-radius: 4%;
    margin: 2em;
}

.img-container{
    width: 100%;
    height: 60%;
    border-bottom: 0.5px solid rgb(78, 78, 78);
}

.img-container img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 7px;
    height: 40%;
    justify-content: space-around;
}

.info ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info ul li{
    word-spacing: 0.25em;
}

/* -----------Media Queries---------- */
@media (min-width:320px) and (max-width:600px) {
    
}

@media (min-width:601px) and (max-width:990px){
    
}