
body{
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
article{
width: 350px;
border: 1px solid black;
}

.img-container{
width: 100%;
height: 300px;
}

.img-container img{
width: 100%;
height: 300px;
}