*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
            /* HEADER */
.navbar{
    width: 100%;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("../img/Fondo-1.jpg");
    background-size: cover;
    background-position: center;
}
.logotipo{
    display: flex;
    align-items: center;
    color: white;
}
.logo{
    width: 100px;
    cursor: pointer;
    padding-right: 8px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #de984d;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
            /* CARRITO */
main{
    height: 30rem;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url("../img/testeo.jpg");
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    flex-direction: row;
    justify-content: flex-end;
}
main h2{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 40%;
}
.desplegable{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: black 1px solid;
}
           /* PRODUCTO */     
.productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}
.productos i{
    color: white;
    margin-right: 5px;
}
.productos img{
    width: 70px;
    height: 70px;
}
.descripcion{
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.descripcion div {
    display: flex;
    align-items: center;
    height: 90%;
}
.precio{
    width: 30%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
}
.precio div {
    height: 90%;
    display: flex;
    align-items: center;
}
#tacho{
    margin-left: 15%;
}
            /* TOTAL */
.total{
    width: 100%;
    align-self: flex-end;
    position: relative;
    top: 35%;
    left: 75%;
}
h5{
    font-size: 1em;
    margin-bottom: 0.5em;
}
.total i{
    margin-right: auto;
}
button{    
    color: white;
    /* text-shadow: 0.8px 0.5px black; */
    background-color: #fcce76;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    border: 0.5px;
    border-radius: 5px;
    box-shadow: black 0px 1px 3px 0px;
}
button:hover{    
    background-color: #ffc14d;
}