* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0%;
}

        /* NAVBAR */

        .navbar{
            background-color: black;
            padding: 0px 25px ;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .logotipo{
            display: flex;
            align-items: center;
            color: white;
        }
        
        .logo{
            width: 100px;
            cursor: pointer;
            padding-right: 8px;
        }
        
        .navbar ul li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }
        
        .navbar ul li a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
        }
        
        .navbar ul li::after{
            content: '';
            height: 3px;
            width: 0;
            background-color: #de984d;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: 0.5s;
        }
        
        .navbar ul li:hover::after{
            width: 100%;
        }

main {
    background-image: url("/img/granos10.jpeg");
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.seccion{
    background-color: #5e4403de;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 4rem;
    border-radius: 4rem;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 2rem 10rem 2rem;
    width: 35%;
    overflow: scroll;
}

h1 {
    color: white;
    font-size: 60px;
    padding: 8rem 4rem;
}

img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: contain;

}

img:hover {
    transform: scale(1.5);
}

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    margin: 1rem 0rem;
}

.seccion2 select {
    margin: 1rem;
    font-size: x-large;
}

.seccion2 .numero{
    margin: 1rem;
    font-size: x-large;
}
.seccion2 .boton {
    margin: 1rem;
    font-size: x-large;
}

.seccion2 .boton:hover {
    background-color: black;
    color: white;
}

.seccion2 .boton:focus {
    background-color: navy;
    color: yellowgreen;
}

label{
    color: white;
    font-size: x-large;
    text-align: center;
}

h2 {
    color: white;
}

p {
    color: white;
}

.descripcion {
    font-size: 30px;
    color: white;
}

.precio {
    font-size: 30px;
    color: white;
}

.MedioDePago {
    font-size: 30px;
    color: white;
    text-align: center;
}
.MedioDePago i {
    background-color: white;
    color: royalblue;
    font-size: 40px;
    margin: 0px 12px;
    height: 37px;
}