* {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #180903;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
}

h1 a{
    color: #ffffff;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("../img/Fondo-1.jpg");
    background-size: cover;
    background-position: center;
}

        /* NAVBAR */

.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo{
    display: flex;
    align-items: center;
    color: white;
}

.logo{
    width: 100px;
    cursor: pointer;
    padding-right: 8px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #de984d;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


        /* Pantalla 1 */


.contenido{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.contenido h1{
    font-size: 70px;
    margin-top: 80px;
}

.contenido p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
}

div .botones1{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #de984d;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

div .span1{
    background-color:#de984d;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.botones1:hover span{
    width: 100%;
}

.botones1:hover{
    border: none;
}


            /* PANTALLA 2 */

#destacados{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url("../img/testeo.jpg");
    padding: 70px 0;
}

.titulo-destacados{
    text-align: center;
    padding: 40px
}

.titulo-destacados p{
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.titulo-destacados h1{
    font-size: 25px;
}

.box-destacados{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.cafes-favoritos{
    flex-basis: 60%;
}

.slide-cafe{
    flex-basis: 40%;
    margin: auto;
}

.slide-cafe img{
    width: 90%;
    border-radius: 15px;
}

.cafes-favoritos h2{
    text-align: left;
    margin-bottom: 10px;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.favoritos-cont{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.bandera img{
    width: 100px;
    height: 100px;
}

.favoritos-texto p{
    padding: 0 20px;
    font-size: 18px;
    text-align: initial;
    font-weight: bold;
}


div .btn-1{
    width: 200px;
    height: 45px;
    border: 2px solid #de984d;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background: rgb(116, 72, 15);
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #de984d;
    transition: ease-out 0.3s;
    outline: none;
    cursor: pointer;
}

.btn-1:hover {
    box-shadow: inset 200px 0 0 0 #de984d;
    cursor: pointer;
}


div.burger-menu i{
    background-color: #9f5e28;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

@media (max-width: 680px){
    nav ul{
        display: none;
    }

    .contenido{
        width: 100%;
    }
    
    .contenido h1{
        font-size: 45px;
        margin-top: 80px;
        padding: 50px;
    }
    
    .contenido p{
        margin: 20px;
        font-size: 15px;
    }

    .slide-cafe{
        display: none;
    }

    .cafes-favoritos{
        flex-basis: 100%;
    }
}


@media (min-width: 681px){
    .burger-menu{
        display: none;
    }

    .navbar ul li{
        margin: 0 5px;
    }
    .navbar ul{
        width: 100%;
        text-align: right;
    }

}

@media (min-width: 750px){
    .navbar ul{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .logotipo{
        width: 40%
    }

    .navbar ul li{
        margin: 0 20px;
    }
}

@media (min-width: 992px){

}


