* {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0;
}

body{
    background-color: #180903;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
    margin: 10px;
}

h1 a{
    color: #ffffff;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("../img/Fondo-1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

        /* NAVBAR */

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo{
    display: flex;
    align-items: center;
    color: white;
}

.logo{
    width: 100px;
    cursor: pointer;
    padding-right: 8px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #de984d;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


        /* Pantalla 1 */


.contenido{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.contenido h1{
    font-size: 70px;
    margin-top: 80px;
}

.contenido p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

div .botones1{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #de984d;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

div .span1{
    background-color:#de984d;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.botones1:hover span{
    width: 100%;
}

.botones1:hover{
    border: none;
}


            /* PANTALLA 2 */



.pantalla2{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/testeo.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    font-size: 30px;
    
}

.destacados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 5%;
    color: white;
    position: relative;
}

.destacados ul{
    padding: 20px;
}

.destacados li{
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.destacados li .banderas{
    padding-left: 15px;
    width: 100px;
}

.contenedorg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grano{
    width: 70%;
    max-width: 500px;
    display: flex;
}

div .contenedor{
    width: 80%;
    display: flex;
    text-align: center;
    padding-left: 100px;
}

div .btn-1{
    width: 200px;
    height: 45px;
    border: 2px solid #de984d;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background: transparent;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #de984d;
    transition: ease-out 0.3s;
    outline: none;
    cursor: pointer;
}

.btn-1:hover {
    box-shadow: inset 200px 0 0 0 #de984d;
    cursor: pointer;
}






